In [1]:
# Hacking together the Bubble Plot Datasets

import pandas as pd
import numpy as np

In [2]:
country_of_origin_csv_df = pd.read_csv("Asylum_Country_Origin_00_17.csv")

In [3]:
country_of_origin_csv_df.head()

,yr_2007,cartodb_id,name,country_or,yr_2000,yr_2001,yr_2002,yr_2003,yr_2004,yr_2005,...,yr_2008,yr_2009,yr_2010,yr_2011,yr_2012,yr_2013,yr_2014,yr_2015,yr_2016,yr_2017
0,3609746.0,1,Afghanistan,Afghanistan,4778785.0,5166652.0,6013458.0,3174558.0,3598240.0,3192177.0,...,3374020.0,3280950.0,4404457.0,4250315.0,4132670.0,3600396.0,3713242.0,4434901.0,5166125.0,5336564.0
1,198970.0,2,Angola,Angola,705464.0,695600.0,736745.0,474278.0,328645.0,277950.0,...,185186.0,158649.0,136078.0,133414.0,136546.0,110198.0,89743.0,54755.0,33135.0,33831.0
2,16982.0,3,Albania,Albania,9620.0,11604.0,15756.0,14920.0,13806.0,15301.0,...,16828.0,17303.0,16166.0,16367.0,24512.0,28324.0,25370.0,52571.0,34853.0,30918.0
3,12.0,4,Andorra,Andorra,3.0,8.0,13.0,13.0,7.0,12.0,...,9.0,8.0,8.0,6.0,7.0,5.0,7.0,9.0,6.0,NaN
4,318.0,5,United Arab Emirates,United Arab Emirates,25.0,49.0,69.0,45.0,82.0,46.0,...,267.0,440.0,453.0,500.0,608.0,156.0,170.0,204.0,277.0,325.0

In [ ]:
country_pop_df = pd.read_csv("Pop_90_17.csv", encoding="ISO-8859-1")

In [7]:
country_pop_df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,9/21/18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,...,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0
4,Aruba,ABW,"Population, total",SP.POP.TOTL,62149.0,64622.0,68235.0,72504.0,76700.0,80324.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0

In [8]:
Pol_Stab_df = pd.read_csv("PoliticalStabilityNoViolence.csv", encoding="ISO-8859-1")

In [9]:
Pol_Stab_df.head()

,Political Stability and Absence of Violence/Terrorism,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 106,Unnamed: 107,Unnamed: 108,Unnamed: 109,Unnamed: 110,Unnamed: 111,Unnamed: 112,Unnamed: 113,Unnamed: 114,Unnamed: 115
0,Political Stability and Absence of Violence/Te...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Legend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Estimate,Estimate of governance (ranges from approximat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,StdErr,Standard error reflects variability around the...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN